---
import PageLayout from '@/layouts/PageLayout.astro'
import { getCollection } from 'astro:content'
import { pipe, sort, reverse } from 'remeda'

const posts = pipe(
  await getCollection('blog'),
  sort(
    (prev, self) => prev.data.pubDate.getTime() - self.data.pubDate.getTime()
  ),
  reverse()
)
---

<PageLayout>
  <ul class="mx-auto max-w-xl px-4 py-8">
    {
      posts.map(({ id, data }) => (
        <li class="border-dn-accent-200/90 rounded border p-3">
          <a href={`/blog/${id}`}>
            <div>
              <h3 class="text-dn-accent-950 mb-2 text-lg font-bold">
                {data.title}
              </h3>
              <p class="text-dn-accent-900">{data.description}</p>
            </div>
          </a>
        </li>
      ))
    }
  </ul>
</PageLayout>
