@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@variant dark (&:where(.dark, .dark *));
@layer theme, base, components, utilities;

@theme {
  --color-dn-color-200: var(--dn-color-200, oklch(29.71% 0.1616 263.65));
  --color-dn-surface-100: var(--dn-surface-100, oklch(94.01% 0 0));
  --color-dn-surface-200: var(--dn-surface-200, oklch(99.4% 0 24.04));
  --color-dn-border: color-mix(
    in oklab,
    var(--color-dn-color-200) 20%,
    transparent
  );
}

@layer theme {
  :root {
    @apply scheme-light;
    scrollbar-color: var(--dn-color-200) var(--dn-surface-200);
  }

  .dark {
    @apply scheme-dark;
    --dn-color-200: oklch(96.75% 0.0168 270);
    --dn-surface-100: oklch(22.97% 0.0015 197.05);
    --dn-surface-200: oklch(13% 0.002 246.26);
  }

  .dark .shiki,
  .dark .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
  }
}

@layer utilities {
  .prose {
    --tw-prose-body: var(--dn-color-color);
    --tw-prose-headings: var(--dn-color-color);
    --tw-prose-lead: var(--dn-color-color);
    --tw-prose-links: var(--dn-color-color);
    --tw-prose-counters: var(--dn-color-color);
    --tw-prose-bullets: var(--dn-color-color);
    --tw-prose-quotes: var(--dn-color-color);
    --tw-prose-quote-borders: var(--dn-color-color);
    --tw-prose-captions: var(--dn-color-color);
    --tw-prose-th-borders: var(--dn-color-color);
    --tw-prose-td-borders: var(--dn-color-color);
    --tw-prose-pre-code: var(--dn-color-color);
    --tw-prose-code: var(--dn-color-color);
    --tw-prose-pre-bg: transparent;
    --tw-prose-bold: currentcolor;
  }
}
