@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@variant dark (&:where(.dark, .dark *));
@layer theme, base, components, utilities;

@theme {
  --color-dn-color-200: var(--dn-color-200, oklch(29.71% 0.1616 263.65));
  --color-dn-surface-200: var(--dn-surface-200, oklch(99.4% 0 24.04));
  --color-dn-border: color-mix(
    in oklab,
    var(--color-dn-color-200) 40%,
    var(--color-dn-surface-200)
  );
}

@layer utilities {
  .prose {
    --tw-prose-body: var(--dn-color-color);
    --tw-prose-headings: var(--dn-color-color);
    --tw-prose-lead: var(--dn-color-color);
    --tw-prose-links: var(--dn-color-color);
    --tw-prose-counters: var(--dn-color-color);
    --tw-prose-bullets: var(--dn-color-color);
    --tw-prose-quotes: var(--dn-color-color);
    --tw-prose-quote-borders: var(--dn-color-color);
    --tw-prose-captions: var(--dn-color-color);
    --tw-prose-th-borders: var(--dn-color-color);
    --tw-prose-td-borders: var(--dn-color-color);
    --tw-prose-pre-code: var(--dn-color-color);
    --tw-prose-code: var(--dn-color-color);
    --tw-prose-pre-bg: transparent;
    --tw-prose-bold: currentcolor;
  }
}
