---
import PageLayout from '@/layouts/PageLayout.astro'
---

<PageLayout>
  <main class="grid gap-8 p-5 md:grid-cols-[auto_auto]">
    <section>
      <h1 class="mt-2 mb-5 text-3xl font-bold">Good for health, bad for...</h1>

      <p class="my-5 text-gray-600 italic">tl;dr: Monads...</p>

      <p class="my-5">
        My first computer was an IBM ThinkPad A31, running a Debian-based
        operating system. Since then, I've been a dedicated Linux user,
        exploring various distributions like Arch, Void, openSUSE, and Fedora
        Linux. Among them, Arch Linux is the one I've spent the most time with.
      </p>
      <p class="my-5">
        I began my web development journey by learning Python and Flask. After
        experimenting with Java's Spring Framework, I ultimately transitioned
        to TypeScript and Node.js.
      </p>
      <p class="my-5">
        My journey into the world of modern web development began with an
        introduction to Angular 2, which led me to discover TypeScript.
        Previously, I had explored functional programming through my experience
        with xmonad, a Haskell-based window manager. This background helped me
        appreciate ReactJS's functional component model, sparking my curiosity
        to learn more about this innovative framework.
      </p>
      <p class="my-5">
        In 2020, inspired by the many developers and all the cool tools build
        around Nix, I embark on daily driving NixOS. While still learning the
        ropes, I'm eager to share my experiences as a web developer using
        open-source technologies.
      </p>
    </section>

    <section>
      <h2 class="mt-2 mb-5 text-2xl font-bold">What I've got going on</h2>

      <ul class="flex list-[hiragana] flex-col justify-center gap-1 pl-8">
        <li class="">
          Learning
          <a
            class="text-ds-accent-600 hover:text-ds-accent-700 font-bold"
            href="https://effect.website/"
            target="_blank"
            rel="noopener noreferrer"
          >
            Effect-TS.
          </a>
        </li>
        <li>Reading On Revolution by Hannah Arendt.</li>
        <li>
          Playing Type Lumina;
          <a
            class="text-ds-accent-600 hover:text-ds-accent-700 font-bold"
            href="https://meltyblood.typelumina.com/resources/img/command/meltyblood_typelumina_neco-arc_command_lists_en.pdf"
            target="_blank"
            rel="noopener noreferrer"
          >
            Neco-Arc
          </a>
          and
          <a
            class="text-ds-accent-600 hover:text-ds-accent-700 font-bold"
            href="https://meltyblood.typelumina.com/resources/img/command/meltyblood_typelumina_kohaku_command_lists_en.pdf"
            target="_blank"
            rel="noopener noreferrer"
          >
            Kohaku.
          </a>
        </li>
      </ul>
    </section>
  </main>
</PageLayout>
