[data-mode='light'] {
  color-scheme: light;
}

[data-mode='light'].赤 {
  --color-50: 97.3% 0.0159 347.62;
  --color-100: 93.95% 0.0314 347.06;
  --color-200: 85.62% 0.0784 354.21;
  --color-300: 77.35% 0.1228 000.01;
  --color-400: 64.77% 0.2034 15.53;
  --color-500: 58.66% 0.2405 29.03;
  --color-600: 54.06% 0.2216 28.97;
  --color-700: 46.96% 0.1924 28.84;
  --color-800: 40.21% 0.1647 28.81;
  --color-900: 32.72% 0.1339 28.46;
  --color-950: 23.82% 0.0974 28.23;
}
