---
import DocumentHead from '@/components/DocumentHead.astro'
---

<html lang="en">
  <DocumentHead title="Home" />
  <body>
    <div class="m-auto max-w-screen-lg place-content-center justify-center">
      <slot />
    </div>
  </body>
</html>
