---
import DocumentHead from '@/components/DocumentHead.astro'
import Navbar from '@/components/Navbar.astro'
import '@/global.css'
---

<html lang="en" class="bg-ds-blank-100 赤">
  <DocumentHead title="Home">
    <script>
      const mode = localStorage.getItem('invert-theme')
      if (mode) {
        document.documentElement.classList.add('scheme-dark')
      }
    </script>
  </DocumentHead>
  <body class="grid min-h-dvh grid-rows-[auto_1fr_auto]">
    <Navbar />
    <div class="m-auto w-full max-w-screen-lg">
      <slot />
    </div>
    <div class="m-auto mt-5 w-full max-w-screen-lg p-5 text-gray-700">
      GPL-3.0 2024 © u1F713
    </div>
  </body>
</html>
