---
import DocumentHead from '@/components/DocumentHead.astro'
import Navbar from '@/components/Navbar.astro'
import '@/global.css'
---

<html lang="en" class="bg-ds-blank-100 赤">
  <DocumentHead title="Home">
    <script>
      const mode = localStorage.getItem('invert-theme')
      if (mode) {
        document.documentElement.classList.add('scheme-dark')
      }
    </script>
  </DocumentHead>
  <body class="">
    <Navbar />
    <div class="m-auto max-w-screen-lg place-content-center justify-center">
      <slot />
    </div>
  </body>
</html>
